    <footer class="footer">
        <div class="connections">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="about-comapny">&copy; WonderLust Private Limited</div>
        <div class="company-policies">PrivacyTerms</div>
    </footer>



