<style>
  .fa-magnifying-glass{
    color: rgb(233, 97, 97);
  }

  .filter-input{
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .filter-input, .input-group-text{
    border-radius: 25px;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index"><i class="fa-solid fa-earth-americas"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/index">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
          <div class="input-group">
            <input type="text" placeholder="Search your destination" class="form-control filter-input" aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/index/new">Airbnb your home</a>
        <% if(!currentUser){ %>
          <b><a class="nav-link" aria-current="page" href="/user/signUp">SignUp</a></b>
          <b><a class="nav-link" href="/user/login">Login</a></b>
        <% } %>
        <% if(currentUser){ %>
          <a class="nav-link" href="/user/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>