<% layout("layout/boilerplate") %>
<div class="row mt-5">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div><%= message %></div>
  </div>
</div>
